.scoreboard {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    margin-top: 100px;
    width: 40%;
    color: white;
  }
  
  .scoreboard td, .scoreboard th {
    /*border: 1px solid #181818;*/
    padding: 13px 25px;    
  }

  .scoreboard tr {
      padding-left: 11px;
  }

  td { 
      padding-left: 10px;
      text-align: center;
  }
  
  .scbname{ 
      text-align: left;
  }

  th {
      text-align: left;
  }
  
  /*#scoreboard tr:nth-child(even){background-color: #373535}*/
  /*#scoreboard tr:nth-child(odd){background-color: #373535}*/
  .scoreboard tr {background-color: #373535}
  /*#scoreboard tr:hover {background-color: black;}*/
  
  .scoreboard th {
    font-weight: 300;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #018f1e;
    color: white;
  }

  #scb1 {
      margin-left: 120px;
      float: left;
  }

  #scb2 {
      margin-right: 120px;
      float: right;
  }