body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: url(background.png) no-repeat;
    background-size: cover;
}
body {
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(background.png); /* This is showing the image on the background of the webpage*/
    /* The rbga thing (rgba(0,0,0,0.5), rgba(0,0,0,0.5)), , makes the background go dark transparent */
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}


.logo img{
    float: left;
    width: 110px;
    height: auto;
    left: 5%;
    margin-top: 20px;
    margin-left: 60px;
    
}


.login-box{
    width: 280px;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.login-box h1{
    float: left;
    font-size: 30px;
    border-bottom: 5px solid #018f1e;
    margin-bottom: 10px;
    padding: 13px 0; 
}

.textbox{
    width: 100%;
    overflow: hidden;
    font-size: 20px;
    padding: 10px 0;
    border-bottom: 1px solid #018f1e;
}

.textbox i{
    width: 26px;
    float: left;
    text-align: center;
}

.textbox input{
    border: none;
    outline: none;
    background: none;
    color: rgb(254, 254, 254);
    font-size: 18px;
    width: 400px;
    float: left;
    margin: 0 10px;
}

.btn {
    width: 100%;
    background: none;
    border:2px solid  #018f1e;
    color: white;
    padding: 5px;
    font-size: 18px ;
    cursor: pointer;
    transition: 0.6s ease;
    margin: 10px 0;
    
}

.btn1 {
    width: 100%;
    background: none;
    border:2px solid  #018f1e;
    color: white;
    padding: 5px;
    font-size: 18px ;
    cursor: pointer;
    transition: 0.6s ease;
    margin: 1px 0;
    
}


